.header {
  position: absolute;
  width: 100%;
  top: rem(115);

  @include mobile{
    top: 68px;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 rem(80);

  @include mobile{
    padding: 0 32px;
  }
}

.header__add-button {
  width: rem(80);
  height: rem(80);

  @include mobile{
   width: rem(24);
   height: rem(24); 
  }
}

.header__share-button {
  width: rem(80);
  height: rem(80);
  
  @include mobile{
   width: rem(24);
   height: rem(24); 
  }
}