.header {
  position: absolute;
  width: 100%;
  top: rem(115);

  @include mobile{
    top: rem(68) ;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 rem(80);

  @include mobile{
    padding: 0 rem(32);
  }
}

.icon-button{
  width: rem(80);
  height: rem(80);
  @include progressive-hover{
    opacity: 0.5;
    color: gray;
    transform: scale(1.2);
    transition-duration: 0.5s;
  }

  @include mobile{
   width: rem(24);
   height: rem(24); 
  }
}