.logo {
  width: rem(136);
  height: rem(136);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(rem(-58), rem(-17));
  
  @include mobile {
    width: rem(50);
    height: rem(50);
    top: 100%;
    transform: translate(rem(-25), rem(15));
  }
}
