.project {
  width: rem(455);
  overflow: hidden;
  border-radius: rem(30);
  box-shadow: 0 rem(8) rem(100) rem(-8) rgba(0, 0, 0, 0.1);

  @include mobile {
    width: rem(227);
    border-radius: rem(15);
  }
}

.project__preview {
  width: 100%;
  overflow: hidden;
}

.project__preview-img {
  object-fit: cover;
  transition-duration: 0.35s;
  &:hover{
    transform: scale(1.5);
    transition-duration: 0.5s;
  }
}

.project__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: rem(13);

  @include mobile {
    padding: 0;
    padding-top: rem(4);
  }
}

.project__title {
  margin: 0 auto;
  font-family: $instagram-sans-font;
  font-weight: 700;
  font-size: rem(30);
  line-height: rem(39);

  @include mobile {
    font-size: rem(15);
    line-height: rem(19);
    margin: 0;
    padding-left: rem(73);
    padding-right: rem(82);
  }
}

.project__description {
  margin: 0 auto;
  font-family: $instagram-sans-font;
  font-weight: 400;
  line-height: rem(34);
  
  @include mobile {
    line-height: rem(17);
    padding-bottom: rem(8);
    margin: 0;
    padding-left: rem(48);
    padding-right: rem(34);
  }
}
