.projects__title-wrap {
  display: flex;
  margin-bottom: rem(72);

  @include mobile {
    margin-bottom: rem(5);
  }
}

.projects__title {
  margin: 0 auto;
  font-family: $instagram-sans-font;
  font-weight: 700;
  font-size: rem(42);
  line-height: rem(55);

  @include mobile {
    font-size: rem(20);
    line-height: rem(26);
  }
}

.projects__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: rem(82);
  margin-bottom: rem(76);

  @include mobile {
    gap: rem(17);
  }
}

.projects__item {
  display: flex;
  flex-direction: column;
  width: rem(455);
  height: auto;
  flex-shrink: 0;
  &:hover{
    opacity: 0.8;
    transition-duration: 0.35s;
  }
  
  @include mobile {
    width: rem(227);
  }
}
