.sharing__list {
  list-style: none;
  display: flex;
}

.sharing__item {
  width: rem(50);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include mobile {
    width: rem(25);
    height: rem(25);
  }
}
