@font-face {
  font-family: "InstagramSans";
  src: url("/fonts/instagram-sans/InstagramSans-Bold.woff2") format("woff2"),
    url("/fonts/instagram-sans/InstagramSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InstagramSans";
  src: url("/fonts/instagram-sans/InstagramSans-Regular.woff2") format("woff2"),
    url("/fonts/instagram-sans/InstagramSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
p,
h2,
ul,
h1 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}
button {
  background-color: white;
  border: none;
}
.header__wrap {
  position: relative;
}
.header__add-button {
  left: 3%;
  position: absolute;
}
.header__share-button {
  right: 3%;
  position: absolute;
}
.sharing__list {
  list-style: none;
  display: flex;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 493px;
  height: 525px;
  margin: 119px auto;
}

.profile__avatar {
  border-radius: 50%;
  width: 301px;
  height: 301px;
  overflow: hidden;
}
.profile__main-title-wrap {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.profile__main-title {
  font-family: "InstagramSans";
  font-weight: 700;
  font-size: 54px;
  line-height: 0;
}
.profile__skills {
  font-family: "InstagramSans";
  font-weight: 400;
  font-size: 28px;
  line-height: 0;
  color: rgba(0, 0, 0, 0.5);
}
.profile__photo {
  object-fit: cover;
}
.sharing__item {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects {
  position: relative;
}
.projects__title-wrap {
  display: flex;
}
.projects__title {
  margin: 0 auto;
  font-family: "InstagramSans";
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
}
.projects__list {
  list-style: none;
  display: flex;
  overflow: hidden;
  justify-content: center;
  gap: 82px;
  position: relative;
  top: 95px;
  right: 21px;
  margin-bottom: 170px;
}
.projects__item {
  display: flex;
  flex-direction: column;
  width: 455px;
  height: auto;
  flex-shrink: 0;
}
.project {
  width: 455px;
  overflow: hidden;
  background-color: aqua;
  border-radius: 30px;
}
.project__preview {
  width: 100%;
  height: 395px;
  overflow: hidden;
}
.project__preview-img {
  object-fit: cover;
}
.project__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 13px;
}
.project__title {
  margin: 0 auto;
  font-family: "InstagramSans";
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}
.project__description {
  margin: 0 auto;
  font-family: "InstagramSans";
  font-weight: 400;
  font-size: 26px;
  line-height: 33.8px;
}
.blogs-links {
  display: flex;
  justify-content: space-evenly;
}
.cards {
  display: flex;
  flex-direction: column;
  width: 612px;
}
.cards__title-wrap {
  margin: 0 auto;
  margin-bottom: 24px;
}
.cards__title {
  font-family: "InstagramSans";
  font-weight: 700;
  font-size: 36px;
  line-height: 46.8px;
}
.cards__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 54px;
  background-color: aqua;
  border-radius: 30px;
}
.card {
  display: flex;
}
.card__text {
  font-family: "InstagramSans";
  font-weight: 400;
  font-size: 23px;
}
.card__title {
  font-family: "InstagramSans";
  font-weight: 700;
  font-size: 30px;
}
.card__info {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 64px;
  padding-top: 31px;
  padding-bottom: 30px;
  justify-content: space-evenly;
}
.card__img-wrap {
  width: 196px;
  height: 204px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(60, 60, 60, 1);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  flex-shrink: 0;
}
.card .card__icon {
  width: 100px;
  height: 100px;
}
.ca-img-wrap {
  width: 136px;
  height: 136px;
  position: relative;
  top: 252px;
}
