@font-face {
  font-family: "InstagramSans";
  src: url("/fonts/instagram-sans/InstagramSans-Bold.woff2") format("woff2"),
    url("/fonts/instagram-sans/InstagramSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "InstagramSans";
  src: url("/fonts/instagram-sans/InstagramSans-Regular.woff2") format("woff2"),
    url("/fonts/instagram-sans/InstagramSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  width: 100%;
}
body {
  background-color: #fdfdfd;
  font-family: "InstagramSans";
  font-size: 26px;
  line-height: 31px;
  @include mobile(){
    font-size: 13px;
  }
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
button {
  background-color: white;
  border: none;
}
.site-container {
  padding-bottom: 50px;
  overflow: hidden;
  max-width: 1920px;
}
  .blogs{
    @include mobile(){
      margin: 0 auto;
      margin-bottom: 76px;
    }
  }

